@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #5fbaff, #7bfeba);
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#quoteContainer {
    margin-bottom: 20px;
    font-size: 1.2em;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote {
    font-style: italic;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#countdown {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}

#countdown span {
    font-size: 3em;
    font-weight: bold;
    color: #97fe7b;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, button {
    margin: 5px 0;
}

input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #feb47b;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff7e5f;
}
